@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Graphik';
    src: url('/fonts/GraphikCompact-Regular.otf') format('truetype');
    font-weight: 400;
    line-height: 1.2;
}

.swiper-button-next:after{
    font-weight: bold;
}
.swiper-wrapper {
    height: fit-content !important;
}
.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: fit-content !important;
}

swiper-slide-active {
    height: fit-content !important;
}

:root {
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-size: 1rem !important;
    --swiper-navigation-color: white;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #e4e4e5 linear-gradient(146deg, rgba(252, 253, 255, 1) 6.42%, rgba(229, 234, 253, 1) 47%, rgba(237, 240, 250, 1) 90%);
}

.tooltip-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-radius: 15px;
    padding: 1rem;
    line-height: 1;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: #f7f8fd;
}

.tooltip-dayTitle {
    font-size: 0.65rem; /* 14px */
    line-height: 1;
    color: rgba(39,37,54,0.6);
    letter-spacing: 0.025rem;
}

.tooltip-leadsNumber {
    font-size: 2rem; /* 18px */
    line-height: 1;
    color: #302d43;
}

.tooltip-dayOfWeek {
    font-size: 0.875rem; /* 16px */
    line-height: 1;
    color: rgba(39,37,54,0.6);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}